<div class="col-md-3 left_col">
  <div class="left_col scroll-view">

    <div class="navbar nav_title" style="border: 0;">
      <a href="/" class="site_title">
        <i class="fa fa-tachometer"></i>
      </a>
    </div>
    <div class="clearfix"></div>


    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

      <div class="menu_section">
        <ul class="nav side-menu">
          <li>
            <%= link_to project_dashboard_path do %>
              <i class="fa fa-bar-chart"></i>
              Dashboard
              <span class="fa fa-chevron-down"></span>
            <% end %>
          </li>
          <li>
            <%= link_to new_project_sprint_path do %>
              <i class="fa fa-edit"></i>
              Nouveau Sprint
              <span class="fa fa-chevron-down"></span>
              <% end %>
          </li>
          <li>
            <%= link_to project_sprints_path do %>
              <i class="fa fa-table"></i>
              Liste des Sprints
              <span class="fa fa-chevron-down"></span>
            <% end %>
          </li>
        </ul>
      </div>

    </div>
    <!-- /sidebar menu -->

  </div>
</div>
